/* Custom Button css */

.custom-button {
  background-color: #080144 !important;
  border-color: #0a0a0a !important;
  color: white !important;
  padding: 20px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease !important;
  cursor: pointer;
  width: 100%;
}

.custom-button:active {
  transform: scale(0.98) !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) inset !important;
}

.custom-button:hover,
.custom-button:focus {
  background-color: #cecbef !important;
  border-color: #0e0e0e !important;
  color: #18083f !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2) !important;
  /* transform: scale(1.02) !important; */
}

.custom-button:focus {
  outline: none !important;
  box-shadow: 0 0 0 3px rgba(234, 233, 245, 0.5) !important;
}

/* Custom input field css */

.custom-input {
  margin-bottom: 8px; /* Reduced bottom margin */
  width: 100%;
}

.custom-input-field,
.custom-textarea {
  border-radius: 6px;
  height: 40px;
  border: 1px solid #d9d9d9;
  padding: 8px 12px; /* bigger padding */
  font-size: 16px; /* slightly larger font */
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.custom-input-field:focus,
.custom-textarea:focus {
  border-color: #40a9ff;
  box-shadow: 0 0 5px rgba(64, 169, 255, 0.5);
}

.custom-upload {
  display: flex;
  align-items: center;
  width: 100%; /* Ensure full width on smaller screens */
}

.custom-upload .ant-upload {
  flex-grow: 1;
}

.custom-upload .ant-upload input {
  display: none;
}

.custom-upload:hover .custom-input-field {
  border-color: #40a9ff;
}

/* .ant-upload {
    border: 2px dashed #a0a0a0;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background: linear-gradient(135deg, #f7f9fc, #eaeef2);
    transition:
      border-color 0.3s ease,
      box-shadow 0.3s ease;
    margin: 0;
    width: 100%; 
  }
  
  .ant-upload:hover {
    border-color: #1890ff;
    box-shadow: 0 0 10px rgba(24, 144, 255, 0.2);
  } */

.ant-upload-list-item {
  border: 1px solid #e0e0e0;
  border-radius: 6px; /* Adjusted border-radius */
  margin-bottom: 10px;
  padding: 8px; /* Reduced padding for smaller size */
  background-color: #f5f5f5;
}

.ant-upload-list-item:hover {
  background-color: #e6f7ff;
}

.custom-textarea {
  min-height: 60px; /* Adjusted minimum height for smaller size */
  resize: vertical;
}

@media (max-width: 768px) {
  .ant-upload {
    padding: 8px; /* Further reduced padding */
  }

  .custom-upload-button {
    padding: 4px 8px; /* Reduced button padding */
    font-size: 12px; /* Adjusted font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .ant-upload {
    padding: 6px; /* Further reduced padding */
  }

  .custom-upload-button {
    font-size: 12px; /* Adjusted font size */
    padding: 4px 6px; /* Reduced button padding */
  }

  .custom-input-field,
  .custom-textarea {
    font-size: 12px; /* Smaller font size for input fields on small screens */
    padding: 3px; /* Adjusted padding for smaller input fields */
  }
}

/* Profile info style */
.profile-info-container {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: default;
  margin-right: 30px;
}

.profile-username {
  color: #333;
  font-weight: bold;
  font-size: larger;
}
